---
import { Image } from "astro:assets";
import service from "../assets/fullservicegraphic-1.svg";
---

<section class="max-w-6xl mx-auto">
  <div
    class="container flex flex-col justify-center p-6 mx-auto sm:py-12 lg:py-24 lg:flex-row lg:justify-between"
  >
    <div
      class="flex items-center justify-center p-6 mt-8 lg:mt-0 h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128"
    >
      <Image src={service} alt="Service" />
    </div>
    <div
      class="flex flex-col justify-center p-6 text-center rounded-sm lg:max-w-md xl:max-w-lg lg:text-left"
    >
      <h1 class="text-3xl font-bold leadi sm:text-4xl">
        Website<br />Paid Ads<br />Local SEO<br />Sales Funnels<br />Business
        Processes
      </h1>
      <p class="mt-6 mb-8 text-lg sm:mb-12">
        Which of these will make a difference in your sales?
        <br class="hidden md:inline lg:hidden" />
      </p>
      <div
        class="flex flex-col space-y-4 sm:items-center sm:justify-center sm:flex-row sm:space-y-0 sm:space-x-4 lg:justify-start"
      >
        <a
          href="#"
          class="bg-copper-500 text-white font-semibold py-4 px-12 rounded hover:bg-copper-400"
          >Book A Call Now</a
        >
      </div>
    </div>
  </div>
</section>
