<div
  class="rounded-lg bg-copper-500 py-20 text-white p-8 my-12 flex flex-col md:flex-row space-between items-center justify-between relative overflow-hidden"
>
  <div class="flex flex-col lg:ml-14 xl:ml-28 max-w-sm lg:max-w-xl z-10">
    <h4 class="text-4xl text-center md:text-left font-bold text-white md:pb-2">
      You need more information?
    </h4>
    <p class="text-center md:text-left text-white opacity-70 md:pb-6">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    </p>
    <div>
      <div class="w-full overflow-hidden relative aspect-video rounded-sm">
        <iframe
          class="absolute inset-0 w-full h-full"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3473.827152898493!2d-98.4646296!3d29.463057199999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x865cf59849c00001%3A0xa0e052b6e3362052!2s4040%20Broadway%20Suite%20240%2C%20San%20Antonio%2C%20TX%2078209!5e0!3m2!1sen!2sus!4v1712940701690!5m2!1sen!2sus"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
  <div class="pt-8 md:pt-0 justify-center lg:mx-auto z-10">
    <a
      href="#"
      target="_blank"
      download
      class="flex items-center px-8 py-4 text-center text-sm text-copper-500 uppercase bg-white font-display rounded-full transition duration-200 hover:bg-copper-600 hover:text-white"
    >
      <span> Get in touch </span>
    </a>
  </div>
  <p class="pt-8 text-xs block md:hidden z-10 text-white">
    consectetur adipiscing elit
  </p>
  <div
    class="absolute bg-rust-400 opacity-60 w-96 h-96 -top-10 -right-16 md:w-[800px] md:h-[800px] md:left-[45%] md:top-[-150%] rounded-full shadow-2xl z-0"
  >
  </div>
</div>
