<div
  class="rounded-lg bg-copper-500 py-20 text-white p-8 my-12 flex flex-col md:flex-row space-between items-center justify-between relative overflow-hidden"
>
  <div class="flex flex-col lg:ml-14 xl:ml-28 max-w-sm lg:max-w-xl z-10">
    <h4 class="text-4xl text-center md:text-left font-bold text-white md:pb-2">
      You need more information?
    </h4>
    <p class="text-center md:text-left text-white opacity-70 md:pb-6">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    </p>
    <p class="text-xs text-rust-200 hidden md:block">
      consectetur adipiscing elit
    </p>
  </div>
  <div class="pt-8 md:pt-0 justify-center lg:mx-auto z-10">
    <a
      href="#"
      target="_blank"
      download
      class="flex items-center px-8 py-4 text-center text-sm text-copper-500 uppercase bg-white font-display rounded-full transition duration-200 hover:bg-copper-600 hover:text-white"
    >
      <span> Get in touch </span>
    </a>
  </div>
  <p class="pt-8 text-xs block md:hidden z-10 text-white">
    consectetur adipiscing elit
  </p>
  <div
    class="absolute bg-rust-400 opacity-60 w-96 h-96 -top-10 -right-16 md:w-[800px] md:h-[800px] md:left-[45%] md:top-[-150%] rounded-full shadow-2xl z-0"
  >
  </div>
</div>
