---
const today = new Date();
import { Image } from "astro:assets";
import logo from "../assets/logo.png";
import { Icon } from "astro-icon/components";
---

<footer class="bg-white">
  <div
    class="mx-auto max-w-7xl space-y-8 px-4 py-16 sm:px-6 lg:space-y-8 lg:px-4"
  >
    <div class="sm:flex sm:items-center sm:justify-between">
      <a href="/" class="flex items-center py-2">
        <Image
          src={logo}
          alt="logo"
          class="h-12 lg:h-[76px] lg:mt-0 w-auto rounded"
        />
        <h2 class="lg:w-10 ml-2 font-bold text-rust-500">
          Orange Marketing Group
        </h2>
      </a>

      <ul class="mt-8 flex justify-start gap-6 sm:mt-0 sm:justify-end">
        <li>
          <a
            href="https://www.linkedin.com/"
            target=""
            class="text-gray-900 link link-hover whitespace-nowrap"
            ><Icon class="inline text-xl md:text-2xl mr-2" name="linked" /></a
          >
        </li>
        <li>
          <a
            href=" https://www.instagram.com/"
            class="text-gray-900 link link-hover whitespace-nowrap"
            ><Icon
              class="inline text-xl md:text-2xl mr-2"
              name="instagram"
            /></a
          >
        </li>
        <li>
          <a
            href="https://twitter.com/"
            class="text-gray-900 link link-hover whitespace-nowrap"
            ><Icon class="inline text-xl md:text-2xl mr-2" name="twitter" /></a
          >
        </li>
        <li>
          <a
            target="_blank"
            href=" https://www.facebook.com// 
  "
            class="text-gray-900 link link-hover whitespace-nowrap"
            ><Icon class="inline text-xl md:text-2xl mr-2" name="facebook" /></a
          >
        </li>
        <li>
          <a
            target="_blank"
            href="https://www.youtube.com/channel/"
            class="text-gray-900 link link-hover whitespace-nowrap"
            ><Icon class="inline text-xl md:text-2xl mr-2" name="youtube" /></a
          >
        </li>
        <li>
          <a
            href="https://www.tiktok.com"
            target="_blank"
            class="text-gray-900 link link-hover whitespace-nowrap"
            ><Icon class="inline text-xl md:text-2xl mr-2" name="tiktok" /></a
          >
        </li>
      </ul>
    </div>

    <div
      class="grid grid-cols-1 gap-8 border-t border-gray-100 pt-8 sm:grid-cols-2 lg:grid-cols-4 lg:pt-16"
    >
      <div>
        <p class="font-medium text-gray-900">Services</p>

        <ul class="mt-6 space-y-4 text-sm">
          <li>
            <a href="#" class="text-gray-700 transition hover:opacity-75">
              Paid Ads
            </a>
          </li>

          <li>
            <a href="#" class="text-gray-700 transition hover:opacity-75">
              Local SEO
            </a>
          </li>

          <li>
            <a href="#" class="text-gray-700 transition hover:opacity-75">
              Lead Generation
            </a>
          </li>

          <li>
            <a href="#" class="text-gray-700 transition hover:opacity-75">
              Sales Funnels
            </a>
          </li>

          <li>
            <a href="#" class="text-gray-700 transition hover:opacity-75">
              Amazing Websites
            </a>
          </li>
        </ul>
      </div>

      <div>
        <p class="font-medium text-gray-900">Company</p>

        <ul class="mt-6 space-y-4 text-sm">
          <li>
            <a href="#" class="text-gray-700 transition hover:opacity-75">
              Our Story
            </a>
          </li>

          <li>
            <a href="#" class="text-gray-700 transition hover:opacity-75">
              Do I really need any of this?
            </a>
          </li>

          <li>
            <a href="#" class="text-gray-700 transition hover:opacity-75">
              Going from good to great
            </a>
          </li>
        </ul>
      </div>

      <div>
        <p class="font-medium text-gray-900">Helpful Links</p>

        <ul class="mt-6 space-y-4 text-sm">
          <li>
            <a href="#" class="text-gray-700 transition hover:opacity-75">
              Contact
            </a>
          </li>

          <li>
            <a href="#" class="text-gray-700 transition hover:opacity-75">
              FAQs
            </a>
          </li>

          <li>
            <a href="#" class="text-gray-700 transition hover:opacity-75">
              Live Chat
            </a>
          </li>
        </ul>
      </div>

      <div>
        <p class="font-medium text-gray-900">Legal</p>

        <ul class="mt-6 space-y-4 text-sm">
          <li>
            <a href="#" class="text-gray-700 transition hover:opacity-75">
              Accessibility
            </a>
          </li>

          <li>
            <a href="#" class="text-gray-700 transition hover:opacity-75">
              Service Policy
            </a>
          </li>

          <li>
            <a href="#" class="text-gray-700 transition hover:opacity-75">
              Refund Policy
            </a>
          </li>
        </ul>
      </div>
    </div>

    <p class="text-xs text-gray-500">
      &copy; 2024. Orange Media Marketing. All rights reserved.
    </p>
  </div>
</footer>
