---
import { getImage } from "astro:assets";
import bg from "../assets/bg.jpg";
const optimizedBackground = await getImage({
  src: bg,
  format: "webp",
});
---

<div class="h-[70vh] bg-gray-50 flex items-center">
  <section
    class="bg-cover bg-left sm:bg-[100%_25%] w-full h-full"
    style={`background-image: url(${optimizedBackground.src});`}
  >
    <div class="max-w-7xl mx-auto text-left text-gray-900 mt-24">
      <div class="flex items-center">
        <div class="md:w-1/2 px-4">
          <h1 class="text-5xl font-medium mb-6">
            You know people want what you have
          </h1>
          <p class="text-xl mb-12">
            We connect you with those people. It's how we make your business
            busier. Success in today's digital world requires more than just a
            great work ethic.
          </p>
          <a
            href="#"
            class="bg-copper-500 text-white font-semibold py-4 px-12 rounded hover:bg-copper-400"
            >Book A Call</a
          >
        </div>
      </div>
    </div>
  </section>
</div>
