---
import service from "../assets/service (1).png";
import service2 from "../assets/service (2).png";
import service3 from "../assets/service (3).png";
import ServiceCard from "./ServiceCard.astro";

const services = [
  {
    title: "Custom Website Design",
    description:
      "Get a tailor-made website design crafted to suit your brand identity and business goals.",
    image: service,
  },
  {
    title: "Responsive Web Development",
    description:
      "Ensure your website looks great and functions flawlessly on all devices, from desktops to smartphones. .",
    image: service2,
  },
  {
    title: "SEO / Local SEO",
    description:
      "SEO - Search Engine Optimization. If want to be found by the people or in your community or your community is the world. We'll get you found first.",
    image: service3,
  },
  {
    title: "Lead Generation",
    description:
      "First rule of business - have customers. It's easier to succeed when people are coming to you. Do you want 5 new customers a week or 50?",
    image: service3,
  },
];
---

<div
  id="services"
  class="section relative py-20 pb-8 md:pt-16 md:pb-0 bg-[conic-gradient(at_top,_var(--tw-gradient-stops))] from-copper-900 via-copper-100 to-copper-900"
>
  <div class="container
  xl:max-w-7xl
  mx-auto
  px-4">
    <header class="text-center mx-auto mb-12 lg:px-20">
      <h2 class="text-2xl md:text-4xl leading-normal mb-2 font-bold text-black">
        What We Do
      </h2>
      <p
        class="text-gray-500 leading-relaxed font-light text-xl mx-auto pb-2 my-4"
      >
        Save time managing advertising &amp; Content for your business.
      </p>
    </header>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 justify-center flex-row -mx-4 text-center"
    >
      {
        services.map((service) => (
          <ServiceCard
            image={service.image}
            title={service.title}
            text={service.description}
          />
        ))
      }
    </div>
  </div>
</div>
